<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="LaravelFly_tmp">
            <file>./tests/Map/Unit/FlyTest.php</file>
        </testsuite>


        <testsuite name="LaravelFly_Map_Process">
            <file>./tests/Map/Unit/FlyTest.php</file>
            <file>./tests/Map/Unit/Server/IncludeFlyFilesTest.php</file>
            <file>./tests/Map/Unit/Server/HttpServerTest.php</file>
            <file>./tests/Map/Unit/Server/Traits/WorkerTest.php</file>
            <file>./tests/Map/Unit/Server/Traits/DispatchRequestByQueryTest.php</file>

            <file>./tests/Map/Feature/FlyFilesTest.php</file>
            <file>./tests/Map/Feature/ExtendedFlyFilesTest.php</file>
            <file>./tests/Map/Feature/SuperGlobalVarsTest.php</file>
            <file>./tests/Map/Feature/ObjectsInWorkerTest.php</file>
            <file>./tests/Map/Feature/Fly/StreamHandlerTest.php</file>

        </testsuite>

        <testsuite name="LaravelFly_Map_Other">
            <file>./tests/Map/Unit/Server/CommonTest.php</file>
        </testsuite>

        <testsuite name="LaravelFly_Map_LaravelTests">
            <file>./tests/Map/LaravelTests/TestCase.php</file>
        </testsuite>

        <testsuite name="LaravelFly_Backup">
            <file>./tests/Backup/Unit/PropsTest.php</file>
        </testsuite>

    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
</phpunit>
