<?xml version="1.0" encoding="UTF-8"?>

<!--
    composer autoload-dev? (root dir only)
-->

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="LaravelFly_Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <!--
        cdzc &&  vendor/bin/phpunit - -testsuit LaravelFly_Unit  - -stop-on-failure  -c vendor/scil/laravel-fly/phpunit.xml
        -->
        <testsuite name="LaravelFly_Unit">
            <!--<directory suffix="Test.php">./tests/Unit</directory>-->

            <!--<file>./tests/Unit/FlyTest.php</file>-->
            <!--<file>./tests/Unit/Server/CommonTest.php</file>-->
            <!--<file>./tests/Unit/Server/DispatchRequestByQueryTest.php</file>-->
            <file>./tests/Unit/Server/Traits/WorkerTest.php</file>
        </testsuite>


        <!--
        hacked files are included, and there's a kernel fife controlled by LARAVELFLY_MODE so theses tests can not be run with other tests

        cdzc && vendor/bin/phpunit - -testsuit LaravelFly_Map_Feature  - -stop-on-failure -c vendor/scil/laravel-fly/phpunit.xml
         -->
        <testsuite name="LaravelFly_Map_Feature">
            <directory suffix="Test.php">./tests/Map/Feature</directory>
        </testsuite>


        <!--
        cdzc && vendor/bin/phpunit - -testsuit LaravelFly_Map_Unit  - -stop-on-failure -c vendor/scil/laravel-fly/phpunit.xml
        -->
        <testsuite name="LaravelFly_Map_Unit">
            <!--<directory suffix="Test.php">./tests/Map/Unit</directory>-->
            <!--
            ensure order
            -->
            <file>./tests/Map/Unit/FlyTest.php</file>
            <directory suffix="Test.php">./tests/Map/Unit/Server</directory>
        </testsuite>


    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
</phpunit>
