<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="LaravelFly_Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="LaravelFly_Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>

        <!--
        hacked files are included, so theses tests can not be run with other tests

        vendor/bin/phpunit - -testsuit LaravelFly_HackedFiles_Feature  - -stop-on-failure vendor/scil/laravel-fly/phpunit.xml
         -->
        <testsuite name="LaravelFly_HackedFiles_Feature">
            <directory suffix="Test.php">./tests/HackedFiles/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
</phpunit>
